:root {
  --background: #ffffff;
  --foreground: #171919;
  --background-subtle: #212424;
  --color-background-light: #444747;
  --color-background-light--dark-accent: #2e3030;
  --color-background-lighter-1: #515555;
  --color-background-lighter-2: #656f6f;
  --color-border: #444747;
  --color-border-hover: #616464;
  --color-success: #21bf47;
  --color-primary: #c8001b;
  --color-primary-light: #e0001e;
  --color-primary-dark: #9f0015;
  --color-primary-2: #d05a00;
  --color-primary-2-light: #e66300;
  --color-primary-2-dark: #ba5000;
  --color-border-selected: #217dbf;
  --color-border-focus: #217dbf;
  --color-error: #ff385c;
  --border-radius--standard: 6px;
  --border-radius--buttons: 4px;
  --transition-duration--standard: 0.15s;
  --transition-default: all 0.3s ease;

  --color-primary: #efbd97;
  --color-primary-accent-light: #f6d0b3;
  --color-primary-accent-dark: #dea67c;
  --color-secondary: #4da1a9;
  --color-secondary-accent-light: #56babb;
  --color-secondary-accent-dark: #418a96;
}

@property --color-primary-prop {
  syntax: '<color>';
  initial-value: #c8001b;
  inherits: false;
}

@property --color-primary2-prop {
  syntax: '<color>';
  initial-value: #d05a00;
  inherits: false;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171919;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}