.baseContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.staticSize {
    flex-grow: 0;
    flex-shrink: 0;
}

.column {
    flex-direction: column;
}

.noOverflow {
    overflow-y: hidden;
}

.centerContent {
    align-items: center;
    justify-content: center;
}